@{
    ViewData["Title"] = "Home Page";
}
<p>User Id : @ViewData["UserID"]</p>
<div class="text-center">
    
</div>

<div class="slideshow-container">


    <div class="mySlides">
        <div class="numbertext">1 / 3</div>
        <img src="image/slideshow/img2.png" style="width:100%">
        <div class="text">Caption Text</div>
    </div>

    <div class="mySlides">
        <div class="numbertext">2 / 3</div>
        <img src="image/slideshow/img1.png" style="width:100%">
        <div class="text">Caption Two</div>
    </div>

    <div class="mySlides">
        <div class="numbertext">3 / 3</div>
        <img src="image/slideshow/img3.png" style="width:100%">
        <div class="text">Caption Three</div>
    </div>


    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>


<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
</div>

<div class="text-center">
    <h1 class="display-4">Hotel Olympus</h1>
</div>
<div class="text-center2">
    <h2 class="display-6">Greek Style</h2>
</div>
<div class="text-center">
    <h2 class="display-6">Facilities</h2>
</div>
<div class="icon-container">
    <div class="icon-wrapper">
        <div class="icon"><img src="image/iconite/Wi-Fi.png" /></div>
        <span class="icon-text">Free Wi-Fi</span>
    </div>
    <div class="icon-wrapper">
        <div class="icon"><img src="image/iconite/Parking.png" /></div>
        <span class="icon-text">Free Pariking</span>
    </div>
    <div class="icon-wrapper">
        <div class="icon"><img src="image/iconite/Cocktail.png" /></div>
        <span class="icon-text">Food & Drink</span>
    </div>
    <div class="icon-wrapper">
        <div class="icon"><img src="image/iconite/Flip Flops.png" /></div>
        <span class="icon-text">Pool</span>
    </div>
    <div class="icon-wrapper">
        <div class="icon"><img src="image/iconite/Clock Checked.png" /></div>
        <span class="icon-text">Check-in</span>
    </div>
</div>


<div class="hotel-info">
    <p>Hotel Olympus is a luxurious Greek-style hotel located in a beautiful seaside location. We offer top-notch amenities and services to ensure a comfortable and memorable stay for our guests.</p>
    <p>Our hotel features spacious and elegantly decorated rooms, a stunning swimming pool, a fitness center, and a variety of dining options to cater to every palate.</p>
    <p>Whether you're traveling for leisure or business, Hotel Olympus provides the perfect setting for a relaxing and enjoyable stay. Our friendly staff is dedicated to delivering exceptional hospitality and personalized service.</p>
</div>

<div class="reviews-section">
    <h2>Reviews</h2>
    <div class="review-container">
        <img src="image/accounts/person1.png" alt="User 1">
        <div class="review-details">
            <h3>John Doe</h3>
            <p>Excellent hotel with great amenities. The staff was friendly and the location was perfect.</p>
            <div class="rating">
                <span class="rating-value">3</span> out of 5
            </div>
        </div>
    </div>
    <div class="review-container">
        <img src="image/accounts/person2.png" alt="User 2">
        <div class="review-details">
            <h3>Noah James</h3>
            <p>Had a wonderful stay at Hotel Olympus. The rooms were comfortable and clean. Highly recommend!</p>
            <div class="rating">
                <span class="rating-value">4</span> out of 5
            </div>
        </div>
    </div>
    <div class="review-container">
        <img src="image/accounts/person3.png" alt="User 1">
        <div class="review-details">
            <h3>Sophia Grace</h3>
            <p>Hotel Olympus exceeded my expectations! The rooms were spacious and beautifully decorated. The staff was friendly and provided excellent service throughout my stay. I highly recommend this hotel for a memorable vacation experience.</p>
            <div class="rating">
                <span class="rating-value">4</span> out of 5
            </div>
        </div>
    </div>
</div>